<body>
    <footer>
        <div class="footer-btn">
        <h4>আরও জানুন</h4>
        <a href="">মেম্বারশিপ</a>
        <a href="">অ্যাড বুস্ট</a>
        </div>
 <div class="footer-btn">
        <h4>আমাদের কথা</h4>
        <a href="">শর্তাবলী</a>
        <a href="">নীতিমালা</a>
        </div>
    <div class="footer-btn">
        <h4>আমাদের অ্যাপ ডাউনলোড করুন</h4>
        <a href="https://play.google.com/"><img src="/assets/images/playstore"></a>
        <a href="https://www.apple.com/app-store/"><img src="/assets/images/applestore.png"</a>
        </div>
    </footer>
</body>