<body>
  <div class="overlay" id="overlay"></div>
  <header class="nav-header">
    <div class="full-nav">

      <div class="brand">
        <div class="hamburger" id="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <a href="index.html" class="brand-name"><img src="assets/images/brand-logo2.png" alt="Logo">
        <h1>BechaKena</h1></a>
        <div class="all-items-div">
        <a href="index.html" class="all-items" id="all-items">সকল বিজ্ঞাপন</a>
      </div>
      </div>
      <div class="user-btn">
        <div class="user-page" id="user-page">
        <a href="" class="log" id="login">Log In</a>
      <a href="" class="log" id="signup">Sign Up</a>
        </div>
        <a href="" class="post-ad">বিজ্ঞাপন দিন</a>
      </div>
      <div class="cloned-btns">
      <div id="close">✖</div>
      <div class="mobile-buttons"></div>
      </div>
    </div>
    <div class="filter-search">
      <div class="location-category">
      <a class="all"><img src="assets/images/map.png">সমগ্র বাংলাদেশ</a>
      <div class="filters location-dropdown">
        <button onclick="filterSelection('all')"">সমগ্র বাংলাদেশ</button>
        <button onclick="filterSelection('dhaka')"">ঢাকা</button>
        <button onclick="filterSelection('chittagong')">চট্টগ্রাম</button>
        <button onclick="filterSelection('rajshahi')">রাজশাহী</button>
        <button onclick="filterSelection('khulna')">খুলনা</button>
        <button onclick="filterSelection('barishal')">বরিশাল</button>
        <button onclick="filterSelection('sylhet')">সিলেট</button>
        <button onclick="filterSelection('rangpur')">রংপুর</button>
        <button onclick="filterSelection('mymensingh')">ময়মনসিংহ</button>
      </div>
      </div>
      <div class="drop-category">
      <button class="products-category"><img src="assets/images/category.png">ক্যাটাগরি</button>
      <div class="filters dropdown-content">
    <button onclick="filterSelection('all')">সকল বিজ্ঞাপন</button>
    <button onclick="filterSelection('electronics')">ইলেকট্রনিক্স</button>
    <button onclick="filterSelection('laptops')">ল্যাপটপ</button>
  </div>
    </div>
    </div>
    <div class="search-bar">
      <input type="text" id="searchInput" placeholder="এখানে খুঁজুন">
      <button id="searchBtn"><img src="assets/images/search.png" alt="Search"></button>
    </div>
 </header>
</body>
