<body>
    <header class="nav-header">
        <div class="full-nav">
        <div class="brand">
            <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
            <img src="" alt="Logo">
            <h1>BechaKena</h1>
            <button class="all-items">সকল বিজ্ঞাপন</button>
        </div>
    <div class="user-btn">
        <div class="user-page">
            <a href="" class="log">Log In</a>
        <a href="" class="log">Sign Up</a>
        </div>
        <a href="" class="post-ad">বিজ্ঞাপন দিন</a>
    </div>
        </div>
        <div class="filter-search">
            <a href="" class="all"><img src="assets/images/map.png">সমগ্র বাংলাদেশ</a>
            <a href="" class="category"><img src="assets/images/category.png">ক্যাটাগরি</a>
        </div>
            <div class="search-bar">
                <input type="text" id="searchInput" placeholder="    এখানে খুঁজুন">
                <button id="searchBtn"><img src="assets/images/search.png" alt="Search"></button>
            </div>
        </div>
    </header>
</body>