.brand {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.nav-header {
    display: flex;
    flex-direction: column;
     background-color: var(--bg-color);
      padding: 15px 150px;
}
 .full-nav {
    display: flex;
    justify-content: space-between;
   
}
h1 {
    color: var(--text-color);
    cursor: pointer;
}
.brand img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.all-items {
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 1rem;
    cursor: pointer;
}
.hamburger {
    display: none;
}
h1 {
    font-size: 1.4rem;
}
.user-btn {
 display: flex;
 align-items: center;
 gap: 20px;
}
.user-btn .log {
    text-decoration: none;
    color: var(--text-color);
}
.filter-search {
    display: flex;
 align-self: center;
 margin: 40px 0 15px 0;
    gap: 20px;
}

.all {

text-decoration: none;
color: var(--text-color);
background-color:rgb(36, 122, 94);
padding: 5px 10px;
border-radius: 999px;
}
.category {

text-decoration: none;
color: var(--text-color);
background-color:rgb(36, 122, 94);
padding: 5px 10px;
border-radius: 999px;
}
.filter-search a img {
    width: 25px;
    height: 20px;
    padding-right: 5px;
    align-content: center;
}
.filter-search a {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--text-color);
    background-color: rgb(36, 122, 94);
    padding: 5px 10px;
    border-radius: 999px;
}
.search-bar {
    display:flex;
    align-self: center;
    padding-top: 10px;
    gap: 10px;
    position: relative;
}
.search-bar input {
    font-size: 0.8rem;
    cursor: text;
}
#searchInput {
    border: none;
    border-radius: 999px;
    width: 800px;
    height: 50px;
    padding: 5px 50px 5px 15px;
    outline: none;
}
#searchBtn {
    margin-left: 753px;
    position: absolute;
    top: 15px;
    background: none;
    border: none;
    cursor: pointer;
}
#searchBtn img {
    width: 40px;
}
.post-ad {
    text-decoration: none;
    color: black;
    background-color: rgb(243, 190, 15);
    padding: 5px 15px;
    border-radius: 999px;
}
.user-btn a {
    color: black;
}
.user-page {
    display: flex;
    gap: 15px;
}
@media (max-width: 768px){
    .nav-header {
        padding: 15px 20px;
    }
  #searchInput {
    border: none;
    border-radius: 999px;
    width: 300px;
    height: 50px;
    padding: 5px;
    outline: none;
}  
#searchBtn {
    margin-left: 255px;
}
.all-items {
    display: none;
}
.user-page {
    display: none;
}
.hamburger {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
    width: 30px;
    height: 25px;
    cursor: pointer;
}
.hamburger span {
    background-color: var(--text-color);
    height: 4px;
    border-radius: 2px;
}
h1 {
    display: none;
}
.post-ad {
    font-size: 0.9rem;
}
.brand img {
    width: 35px;
    height: 35px
}